html, body{
    font-family: Verdana;
    text-align: center;
    margin: 0;
    padding: 0;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.parent:before {
     height: 100%;
     display: inline-block;
     vertical-align: middle;
     content: '';
}
.block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: center;
}
.block b {
    display: block;
    border: none;
    font: 34px bold;
    color: white;
}
.block input {
    display: block;
    border: none;
    font: 34px bold;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.myButton {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
    background-color:#7892c2;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-top: 30px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
    background-color:#476e9e;
}
.myButton:active {
    position:relative;
    top:1px;
}

.top_btn{
    width: 49%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 60px;
    border: 0px solid;
    background-color: #586BB8;
    cursor: pointer;
}
.btn_ok_page{
    font-weight: bold;
    color: #31dd17;
    cursor: pointer;
}
.btn_err_page{
    font-weight: bold;
    color: #fb6f6f;
    cursor: pointer;
}
.btn_activ{
    background: #7e91e1; /* Old browsers */
    background: -moz-linear-gradient(top,  #7e91e1 0%, #586bb8 50%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7e91e1 0%,#586bb8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7e91e1 0%,#586bb8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e91e1', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}
.wait-overlay {
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    /* IE8 */
    background-color: rgba(71, 168, 123, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align:center;
    display:none;
    z-index: 10000;
}
.wait-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}